@page
@model IndexModel
@{
    ViewData["Title"] = "Primeira pagina";
}

<div class="text-center">
    <h1 class="display-4">Primeiro promaga em .NET</h1>
    <p style="color: palegreen">Esta é a primeira aula de .net</p>
    <button class="teste">Clique aqui</button>
    <p>Aprenda mas em  <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
